.linkStyle {
  color: #3b82f6;
  font-size: x-small;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.mainContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.contentCard {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; 

  padding: var(--spacing-2xl);
  background-color: var(--background=#000); /* 이 변수가 올바른 색상 값을 주는지 확인 */
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
}

.form-group {
    gap: 5px;
}

.loginButton {
    width: 300px;
    padding: 15px;
    background-color: #13183d;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}