.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    animation: fadeIn 0.2s ease-out;
    display: relative;
}

.modalWrapper{
    position: absolute;
    top : 30%;
    left : 50%;
    transform: translate(-50%, -50%);
    width : 480px;
    height: auto;
    max-height: 80vh;
    z-index: 1001;
    border-radius: var(--spacing-sm);
}

.modalHeaderWrapper{
    background-color:#1f2937;
    height: 70px;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-top-left-radius: var(--spacing-sm);
    border-top-right-radius: var(--spacing-sm);
}

.menuTitle{
    display: inline;
    font-size: var(--text-2xl);
    font-weight: var(--font-bold);
    color: #FFFFFF;
    margin-left: 10px;
}

.closeBtn{
    width : 25px;
    height : 25px;
    display: inline;
    float: right;
    margin-right: 10px;
    right : 10px;
    cursor: pointer;
}

.modalBodyWrapper{
    padding: 20px;
    background-color: var(--bg-primary);
    border-bottom-left-radius: var(--spacing-sm);
    border-bottom-right-radius: var(--spacing-sm);
}

.bigTitle{
    margin-top : 10px;
    margin-bottom : 10px;
    color: var(--color-primary);
    font-size: var(--text-xl);
    font-weight: var(--font-bold);
}

.resvInfoWrapper{
    background-color: var(--color-secondary2);
    border-radius: var(--radius-lg);
    padding: 10px;
}

.valueRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 10px;
  align-items: center;
}

.valueSection{
    display: flex;
    align-items: center;
    width: 48%;
}

.titles{
    color: var(--text-primary);
    font-weight: var(--font-semibold);
    white-space: nowrap;
}

.value{
    color: var(--text-primary);
    font-weight: var(--font-md);
    word-break: break-word;
}

.userCommentWrapper{
    min-height : 100px;
    display: block;
    overflow-y: auto;
}

.memoTitle{
    margin-top: 30px;
}

.userComment{
    color: var(--text-primary);
    font-weight: var(--font-md);
    margin: 0 5px;
}

.buttonsWrapper{
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; /* 필요에 따라 center, space-between 등으로 조정 가능 */
    flex-wrap: nowrap;
}

.buttons{
    width: 80px;
    height : 35px;
    border: 3px solid #353957;
    border-radius: var(--radius-lg);
    background-color: var(--bg-primary);
    font-family: 'GmarketSansMedium'
}

.buttons:hover{
    background-color: #353957;
    color: #FFFFFF;
    cursor: pointer;
}

.buttons:disabled{
    background-color: var(--color-background);
    color: var(--color-dark-gray);
}

.buttons:disabled:hover{
    cursor: not-allowed;
    color: var(--color-dark-gray);
    background-color: var(--color-background);
}
