.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    animation: fadeIn 0.2s ease-out;
    display: relative;
}

.modalWrapper{
    position: absolute;
    top : 30%;
    left : 50%;
    transform: translate(-50%, -50%);
    width : 480px;
    height: auto;
    max-height: 80vh;
    z-index: 1001;
    border-radius: var(--spacing-sm);
}

.modalHeaderWrapper{
    background-color:#1f2937;
    height: 70px;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-top-left-radius: var(--spacing-sm);
    border-top-right-radius: var(--spacing-sm);
}

.menuTitle{
    display: inline;
    font-size: var(--text-2xl);
    font-weight: var(--font-bold);
    color: #FFFFFF;
    margin-left: 10px;
}

.closeBtn{
    width : 25px;
    height : 25px;
    display: inline;
    float: right;
    margin-right: 10px;
    right : 10px;
    cursor: pointer;
}

.modalBodyWrapper{
    padding: 20px;
    background-color: var(--bg-primary);
    border-bottom-left-radius: var(--spacing-sm);
    border-bottom-right-radius: var(--spacing-sm);
}.formRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.formGroup:last-child {
  margin-right: 0;
}

.formGroup label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.inputTag, .selector, .textAreaTag {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textAreaTag {
  resize: none;
  height: 80px;
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancelBtn {
  background-color: #f2f2f2;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
}

.submitBtn {
  background-color: #222b50;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
}


